<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="dropdown-menu text-small shadow" style="">
        <li><a class="dropdown-item active" routerLink="#" aria-current="page">Inicio</a></li>
        <li><a class="dropdown-item" routerLink="/login">Login</a></li>
        <li><a class="dropdown-item" routerLink="/registro">Registro</a></li>
        <li><a class="dropdown-item" routerLink="/gestion-productos">Producto</a></li>
        <li><a class="dropdown-item" routerLink="#">Transaccion</a></li>
        <li><a class="dropdown-item" routerLink="#">Favoritos</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="#">Reporte 1</a></li>
        <li><a class="dropdown-item" routerLink="#">Reporte 2</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
        <input #textoBusqueda type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
          aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>


  <!-- 
  <p>Pagina inicial de {{title}}</p>
  <ul>
      <li><a routerLink="#">Inicio</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/producto">Proucto</a></li>
  </ul> -->
</header>

<div class="seccion-pagina p-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© Universidad del quindio</p>
    </footer>
  </div>
</footer>